* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 62.25%;
}
main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(74, 74, 161);
  color: white;
}
i,
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(153, 231, 153);
}
.kick-pad.active {
  background: rgb(74, 155, 74);
}
.snare-pad {
  background: rgb(227, 243, 153);
}
.snare-pad.active {
  background: rgb(172, 194, 49);
}
.hihat-pad {
  background: rgb(255, 179, 179);
}
.hihat-pad.active {
  background: rgb(218, 98, 98);
}
#kick-track,
#snare-track,
#hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 2rem;
}
.controls > button {
  padding: 1rem;
  border: none;
  background: rgb(129, 126, 126);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
#play {
  padding: 1rem 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  background: rgb(129, 126, 126);
  color: white;
  border: none;
  cursor: pointer;
}
select {
  padding: 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
